.button {
  @include reset-link;
  display: inline-block;

  box-sizing: border-box;
  padding: 1.5rem 4.5rem;

  border: none;
  border-radius: 10rem;
  outline: none;

  &:hover {

    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &__secondary {
    padding: 1.3rem 4.3rem;

    &:hover {
      //border: 2px solid $color-light-s;
    }
  }
}

.button__navigation {
  width: 5.2rem;
  height: 5.2rem;

  background-color: transparent;
  border-radius: 10rem;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    border: none;
    background-color: $color-primary-light;
  }

  &_disable {
    fill: $color-dark-s;
    border: 2px solid $color-dark-s;
    &:hover {
      border: 2px solid $color-dark-s;
      background: transparent;
    }
  }
}

.btn__game {
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  padding: 0 15px;
  //background-image: url('../assets/img/play.svg');
  background-color: $main-text-border;

  border-radius: 50%;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    bottom: -93px;
  }
}

.btn__game_repeat {
  font-size: 0;

  width: 70px;
  background-position: center center;
  background-size: 45px 45px;
  background-repeat: no-repeat;

  background-image: url('../assets/img/repeat.svg');
}

