$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;


$color-dark-s: #CDCDCD;
$color-overlay: rgba(41, 41, 41, 0.6);

$main-text: #f8e961;
$main-text-border: #ce8b16;


$tablet-width: 1279px;
$mobile-width: 767px;
//
//@include media-tablet {
//
//}
//
//@include media-mobile {
//
//}



