.category-current {
  @include container;
}

.category-current__wrapper-item {
  transform-style: preserve-3d;

  .category-current__back-item {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }

  .category-current__front-item {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
}

.category-current_flip {
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);

  .category-current__back-item {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  .category-current__front-item {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
}


.category-current__back-item {
  transition: all 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

  @include reset-link;
  font-size: 25px;
  line-height: 30px;
  color: black;

  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.category-current__front-item {
  transition: all 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

  @include reset-link;
  font-size: 25px;
  line-height: 30px;
  color: black;

  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  &:hover {
    transition: all 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
    box-shadow: 3px 3px 20px 10px rgba(191, 191, 191, 1), -3px -3px 20px 10px rgba(191, 191, 191, 1);
    cursor: pointer
  }
}

.category-current__image {
  width: 80%;
  margin: 0 0 20px;
}


.category__rotate-button {
  position: absolute;
  top: 10px;
  right: 30px;

  @include media-tablet {
    width: 25px;
    right: 5px;
  }

  @include media-mobile {
    top: 3px;
    width: 25px;
  }
}

.category__rotate-button:hover {
  filter: brightness(0.5) contrast(175%);
}

.category-current__item_active {
  .category-current__image {
    margin: 15px 0;
    width: 90%;
  }
}

.category-current {
  .btn__game {
    position: absolute;
    bottom: -90px;
    left: calc(50% - 80px);

    @include media-tablet {
      bottom: -50px;
    }
  }

  .btn__game_repeat {
    left: calc(50% - 35px);
  }
}

.category-current__image_right-answer {
  pointer-events: none;
  background-color: yellowgreen;
}

.category-current__answer-indicator {
  position: absolute;
  left: 10%;
  top: -60px;
  width: 80%;
  height: 40px;

  display: flex;
  gap: 9px;
  justify-content: flex-end;

  overflow: hidden;
}

.category-current__end-game {
  //height: 100%;

  position: absolute;
  width: 100%;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 22px;
}
