footer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  padding-right: 10px;
  display: flex;
  text-align: right;
  flex-direction: column;

  @include media-tablet {
    width: 780px;
  }

  @include media-mobile {
    max-width: 450px;
    width: 100%;
    padding: 70px 10px 0 0;
  }
}

.footer__link-git {
  margin: 0 10px 0 0;
  transition: all 0.3s ease;

  &:hover {
    position: relative;
    top: -4px;
  }
}

.footer__link-rss {
  transition: all 0.3s ease;

  &:hover {
    position: relative;
    top: -4px;
  }
}

.footer__text {
  margin: 5px 0 0 0;
  font-size: 22px;
  color: $main-text-border;
}
